<div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel"></h1>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <a id="modalLink1" href="#" target="_blank">
                <img id="modalImg" src="#" class="card-img-top animation_pop" alt="Modal Image">
            </a>
            <div class="d-flex align-items-center mb-2 mt-4">
                <p class="mb-0 text-start" id="modalContent"></p>
            </div>         
        </div>
        <div class="modal-footer">  
            <a id="modalLink2" class="text-decoration-none link-pop" href="#" target="_blank">/a>
        </div>
      </div>
    </div>
  </div>