{% extends 'main/base.html' %}

{% block content %}
    {% include "main/header.html" with page_title="Alba" %}
    <main>
        <div class="container text-center">
            <div class="row">
                {% for album in albums %}
                    {% include "main/card.html" with card_title=album.title card_text=album.description card_img=albu.image card_link="https://example.com" card_link_text="Listen Now" %}
                {% endfor %}
                <div class="col-12 col-md-4" style="margin-bottom: 2rem;">
                    <div class="card bg-dark" style="margin-bottom: 2rem; height: 100%">
                        <img src="https://placecats.com/millie_neo/300/200%22" class="card-img-top" alt="Cat">
                        <div class="card-body d-flex flex-column" style="padding-bottom: 20px">
                            <h5 class="card-title">Long card title on multiple lines. A. B. C. D. E. F. G. H.</h5>
                            <p class="card-text">Text in one row</p>
                            <div class="mt-auto" style="text-align: right;">
                                <a href="#" class="btn btn-outline-light">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4" style="margin-bottom: 2rem;">
                    <div class="card bg-dark" style="margin-bottom: 2rem; height: 100%">
                        <img src="https://placecats.com/neo_2/300/200%22" class="card-img-top" alt="Cat">
                        <div class="card-body d-flex flex-column" style="padding-bottom: 20px">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="mt-auto" style="text-align: right;">
                                <a href="#" class="btn btn-outline-light">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget tortor id elit dapibus auctor.</p>
        <p>Curabitur id mi vitae arcu fringilla eleifend. Donec eget nibh eros. Integer auctor, eros a faucibus.</p>
        
        
    </main>
{% endblock %}