{% extends 'main/base.html' %}

{% block content %}
    {% include "main/header.html" with page_title="Členové" %}
    <main>

        <div class="container text-center">
            <div class="row">
                {% for artist in artists %}
                    {% include "card/artist_card.html" with card_title=artist.name card_text=artist.description card_img=artist.image.url card_link=artist.link card_link_text="Listen Now" card_svg="/static/icons/artist.svg" card_id=artist.id card_type="artist" %}
                {% endfor %}
                {% include "modal/modal.html" %}
            </div>   
        </div>

        
    </main>
{% endblock %}