{% extends 'main/base.html' %}

{% block content %}
    <header>
        <h3>Kapely</h3>
        <hr></hr>
    </header>
    <main>
        <div class="container text-center">
            <div class="row">
                {% for band in bands %}
                    {% include "main/card.html" with card_title=band.title card_text=band.description card_img=band.image.url card_link=band.link card_link_text="Listen Now" card_svg="/static/icons/people.svg" %}
                {% endfor %}
                {% include "main/modal.html" %}
            </div>   
        </div>  
    </main>
{% endblock %}