{% load custom_filters %}


<div class="card-element col-12 col-md-4" style="margin-bottom: 2rem;">   
    <div class="card card_animate animation_pop bg-dark" style="height: 100%">
        <div class="card-img-wrapper" style="cursor: pointer;" role="button" data-bs-toggle="modal" data-bs-target="#cardModal" data-title="{{ card_title }}" data-description="{{ card_text }}" data-image = "{{ card_img }}" data-link="{{ card_link }}" data-link-text = "{{ card_link_text }}" data-second-link="{{ card_second_link }}" data-svg="{{ card_svg }}" data-id="{{ card_id }}"  data-type="{{ card_type }}">
            <img src="{{ card_img }}" class="card-img-top" alt="Card Image">
        </div>   
        <div class="card-body d-flex flex-column" style="padding-bottom: 20px">
            <h4 class="card-title fw-bold">{{ card_title }}</h4>

            {% block extra_card_content_1 %}{% endblock %}

            <p class="card-text">{{ card_text|smart_truncate:100 }}</p>
            
            {% block extra_card_content_2 %}{% endblock %}
        </div>
    </div>
</div>

